.cache
public
node_modules
.npmrc

.DS_Store

**/dist
**/.env
**/.env.local
**/.env.*.local

**/tsconfig.tsbuildinfo

# Embedded repos / standalone apps
examples/my-gatsby-app
examples/freiearztwahl.at
examples/oldcode
examples/psylon
packages/gatsby-jaen-app/toev-pwa